
@use "variables" as *;
@use "base" as *;


.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: #ffffff;
    padding: 4rem;
    border-radius: 12px;
    width: 70rem;
    position: relative;
  }
  
  .modal-close {
    position: absolute;
    top: 8px;
    right: 12px;
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
  }

  .comment-input{
    min-height:10rem;
    
      padding-top: 1rem;
    
  }

  .modal-backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.45);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    }


    .modal {
      position: relative;
      width: min(520px, 92vw);
      background: #fff;
      border-radius: 14px;
      padding: 20px;
      box-shadow: 0 10px 40px rgba(0,0,0,0.25);

      p {
        font-size: $font-m;
      }
    }


    .modal h3 {
      margin: 0 0 20px 10px;
      padding-bottom: 10px;
    }


    .modal-close {
      position: absolute;
      top: 1rem;
      right: 14px;
      border: none;
      background: transparent;
      font-size: 3rem;
      font-weight: 600;
      line-height: 1;
      cursor: pointer;
      color: #333;
}


.modal-close:hover {
      opacity: 0.7;
      color: red;
}

    

    
    
  

  