@use "base" as *;
@use "variables" as *;

.shopping-cart-cont{
    padding: 4rem 0;
}

.shopping-cart-main{
    display: flex;
    justify-content:space-between;
    gap: 3rem;
    @include isMobile{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}

.items-cart{
    width: 90%;
    @include isMobile{
        width: 100%;
    }
}

.cart-items-border{
    border: 0.1rem solid #ddd;
    padding: 2rem;
    margin: 1rem 0;
    @include isMobile{
        width: 100%;
        padding: 0;
    }
}
.cart-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
    border-bottom: 0.1rem solid #ddd;
    padding: 2rem 0;
    h3{
        font-size: $font-m;
    }
    @include isMobile{
        gap: 5rem;
    }
}

.cart-name-image{
    display: flex;
    text-align: center;
    align-items: center;
    gap: 1rem;
   
        &:hover{
            cursor: pointer;
            text-decoration: underline;
            }
 @include isMobile {
    h3{
        font-size: 2rem;
    }
 }      
        
}

.cart-item-quantity-mobile{
    display: none;
    @include isMobile{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
        
}

.cart-item-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
    @include isMobile{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}

.quantity-controls{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    // margin: 1rem 0;
    align-items: center;
    .btn-plus-min{
    width: 4rem;
    height: 4rem;
    border: none;
    font-size: $font-s;
    font-weight: 600;
    text-align: center;
    &:hover{
    cursor: pointer;
    }
    
    }
    @include isMobile{
        display: none;
    }
}

.quantity-controls-mobile{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    // margin: 1rem 0;
    align-items: center;
    .btn-plus-min-mobile{
    width: 3rem;
    height: 3rem;
    border: none;
    font-size: $font-m;
    font-weight: 600;
    text-align: center;
    &:hover{
    cursor: pointer;
    }
    
    }
    
}
.quantity-change{
    display: flex;
    gap: 1rem;
    span{
        font-size: $font-m;
    font-weight: 600;
    padding: 0 0.5rem;
    }
}

.quantity-change-mobile{
    display: flex;
    align-items: center;
    text-align: center;
    span{
        font-size: $font-m;
    font-weight: 600;
    padding: 0 0.5rem;
    }
}

    .btn-deleteCart{
        background-color: transparent;
    color: rgb(126, 120, 120);
    padding: 0.5rem 1rem;
    border: none;
    font-size: 2.5rem;
    &:hover{
    cursor: pointer;
    color: black;
    }
}

  .btn-deleteCart-mobile {
    background-color: transparent;
    color: rgb(126, 120, 120);
    padding: 0.5rem 1rem;
    border: none;
    font-size: 2rem;
    &:hover{
    cursor: pointer;
    color: black;
    }
  }

.cart-item-price{
    display: flex;
    justify-content: space-around;
    .p-bold{
        font-size: $font-m;
    }
}

.sum-amount{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0 ;
    p{
        font-size: 3rem ;
    }
}

.btn-sum{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 1rem;
    align-items: flex-end;
    .btn-clean{
        width: 30rem;
        color: #726f6f;
    }
}



.cart-client-form{
    width: 60%;
    h3{
        font-size: $font-xl;
        margin: 1rem 0;
    }
    @include isMobile{
        width: 100%;
    }
}

.customer-data{
    border: #ddd 0.1rem solid;
    padding: 1.8rem;
    margin: 1rem 0 1.5rem;
   
}

.customer-data-inputs{
    display: flex;
    flex-direction: column;
    input{
        width: 100%;
        padding: 0.5rem;
        font-size: $font-m;
        border: 0.1rem solid #ddd;
        margin: 1.5rem 0;
        &:focus{
            outline: none;
            border-color: #ccc;
        }
        
    }
}

.select-city-reg{
    display: flex;
    
    justify-content: space-between;
    gap: 3rem;
    @include isMobile{
        flex-direction: column;
    }
}

.select-city-reg select{
    width: 47%;
    font-size: 2.7rem;
    padding: .5rem;
    // &:focus{
    //     color: #ccc;
    // }
    @include isMobile{
        width: 100%;
    }
}


.delivery-method{
    display: flex;
    flex-direction: column;
    border:#ddd 0.1rem solid ;
    padding: 1.8rem;
    margin: 1.5rem 0; 
}

.delivery-method-form select{
    width: 100%;
}

label{
    font-size: 2.2rem;
}

.form-label{
    margin-right: 2rem;
}

.delivery-method-form{
    
    margin-bottom: 2rem ;
    font-size: 2.8rem;
}

.comment-order{
    width: 100%;
    textarea{
        width: 100%;
        
    }
}

.comment-input{
    border: #ddd 0.1rem solid;
}

.btn-send-order{
    width: 100%;
    margin-top: 1rem;
}