@use "base" as *;
@use "variables" as *;

.cart-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    border-bottom: 0.1rem solid #ddd;
    padding: 2rem 0;
}

.cart-name-image{
    display: flex;
    text-align: center;
    align-items: center;
    gap: 1rem;
}

.cart-item-info{
    display: flex;
    // justify-content: space-around;
}

.quantity-controls{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 0;
    align-items: center;
}

.quantity-controls button{
    width: 3rem;
    height: 3rem;
    border: none;
}

.cart-item-price{
    display: flex;
    justify-content: space-around;
    .p-bold{
        font-size: $font-m;
    }
}