@use "base" as *;
@use "variables" as *;

.cart-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    border-bottom: 0.1rem solid #ddd;
    padding: 2rem 0;
}

.cart-name-image{
    display: flex;
    text-align: center;
    align-items: center;
    gap: 1rem;
}

.cart-item-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.quantity-controls{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    // margin: 1rem 0;
    align-items: center;
}

.quantity-controls button{
    width: 3rem;
    height: 3rem;
    border: none;
    font-size: $font-m;
    cursor: pointer;
}

.quantity-controls div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .btn-deleteCart {
    background-color: transparent;
    color: rgb(126, 120, 120);
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-size: 2rem;
    &:hover{
    cursor: pointer;
    color: black;
    }
  }

.cart-item-price{
    display: flex;
    justify-content: space-around;
    .p-bold{
        font-size: $font-m;
    }
}

.sum-amount{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 3rem;
    p{
        font-size: 3rem ;
    }
}

.btn-sum{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-end;
    .btn-clean{
        width: 30rem;
        color: #726f6f;
    }
}