@use "base" as *;
@use "variables" as *;

.cart-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    border-bottom: 0.1rem solid #ddd;
    padding: 2rem 0;
    
}

.cart-name-image{
    display: flex;
    text-align: center;
    align-items: center;
    gap: 1rem;
   
        &:hover{
            cursor: pointer;
            text-decoration: underline;
            }
        
}

.cart-item-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30rem;
}

.quantity-controls{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    // margin: 1rem 0;
    align-items: center;
    .btn-plus-min{
    width: 4rem;
    height: 4rem;
    border: none;
    font-size: $font-s;
    font-weight: 600;
    text-align: center;
    &:hover{
    cursor: pointer;
    }
    }
}
.quantity-change{
    display: flex;
    gap: 1rem;
}


  .btn-deleteCart {
    background-color: transparent;
    color: rgb(126, 120, 120);
    padding: 0.5rem 1rem;
    border: none;
    font-size: 2.5rem;
    &:hover{
    cursor: pointer;
    color: black;
    }
  }

.cart-item-price{
    display: flex;
    justify-content: space-around;
    .p-bold{
        font-size: $font-m;
    }
}

.sum-amount{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 3rem;
    p{
        font-size: 3rem ;
    }
}

.btn-sum{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-end;
    .btn-clean{
        width: 30rem;
        color: #726f6f;
    }
}