
@use "variables" as *;
@use "base" as *;

.header {
    a{
        font-weight: 600;
        text-transform: uppercase;
    }
    .header-top {
        margin-top: 3rem;
        align-items: center;
       
   
        .header-contact{
            gap: 3rem;
            align-items: center;
            text-align: center;
            
        }
          .header-contact-info{
            display: flex;
            flex-direction: row;
            gap: 3rem;
            align-items: center;
            @include isMobile{
              display: none;
          }
          }
        
        h1 {
            font-weight: bold;
            font-size: $font-m;
            line-height: 1;
        }
        a {
            font-weight: 600;
            margin: 0.2rem;
            font-size: $font-m;
            &:hover {
              transform: (1.05);
              text-decoration: underline;
          }
        }
    }

    .profile-cart{
      
      @include isMobile{
        margin-left: 11rem;
        align-items:center;
        text-align: center;
        
      }
    }

    .private-room{
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      gap: 3rem;
      align-items: center;
      text-align: center;
    }

    .private-room img{
      transition: transform 0.5s ease;
        &:hover{
      transform: scale(1.2);
    }
    
    }

    .cart-icon-wrapper {
      position: relative;
    }
    
    .cart-count {
      position: absolute;
      width: 2.3rem;
      height: 2.3rem;
      top: -1.2rem;
      right: .3rem;
      background-color:$bg-color-2;
      color: white;
      font-size: 2rem;
      // transform: rotate(-45deg);
      padding-bottom: 10px ;
      border: 1.6px solid $bg-color-3;// в rem не получается подобрать правильный размер
      border-radius: 50%;
      line-height: 0.7;
      font-weight: bold;
      text-align: center;
      @include isMobile{
        top: -.8rem;
        right: -0.8rem;
        width: 2.2rem;
      height: 2.2rem;
      line-height: 0.6;
      border: 1.6px solid white;
      }
    }
    
    .header-bottom {
      margin-bottom: 1rem;
        ul {
            display: flex;
            justify-content: flex-end;
            gap: 3rem;
            padding: 2rem 0;
        }

        a{
            font-weight: 700;
            transition: transform 0.3s ease-out;
            &:hover {
                transform: (1.05);
                text-decoration: underline;
            }
        }
        @include isMobile{
            display: flex;
            
            width: 30%;
            position: fixed;
            min-height: 100dvh;
            min-width: 45rem;
            top: 0;
            right: 0;
            padding: 11.5rem 2rem 0 5rem;
            background: white;
            align-items: flex-start;
            justify-content: flex-start;
            z-index: 11;
            transform: translateX(201%);
            gap: 5rem;
            transition: transform 0.5s ease-out;
            a {
              font-weight: 500;
              text-transform: uppercase;
              transition: color 0.4s ease-out;
              &:hover {
                color: $accent-color;
              }
            }
            ul{
                flex-direction: column;
            }
        }
        
    }
}

.menu-active {
    
    .header-bottom {
        transform: translateX(0%);
    }

    .burger-menu-container .burger-icon span {
        &:nth-child(1) {
          top: 50%;
          transform: translateY(-50%) rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          bottom: 50%;
          transform: translateY(50%) rotate(-45deg);
        }
      }
}

.burger-menu-container {
    display: none;
    @include isMobile{
      display: block;
    position: relative;
    z-index: 12;
    cursor: pointer;
    width: 3.4rem;
    height: 2.442rem;
    }
  }
  
.burger-icon {
    width: 100%;
    height: 100%;
    span {
      display: block;
      width: 100%;
      height: 0.38rem;
      background-color: $bg-color-2;
      transition: all 0.3s ease-in-out;
    }
    span:nth-child(1),
    span:nth-child(3) {
      transform-origin: left;
    }
    span:nth-child(2) {
      opacity: 1;
      width: 80%;
      margin-left: auto;
    }
  }

// 1 rem = 10px, 16px = 1.6rem