@use "variables" as *;
@use "base" as *;



.proNas-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    // gap: 4rem;
}

.about-text{
    text-align: center;
    // margin: 7rem auto;
    width: 70%;
    align-items: center;
}

.aboutPage-text{
    font-size: $font-m;
      align-items: center;
      text-align: center;
      margin: 2rem auto;
}

.image-box{
    display: flex;
  align-items: flex-start;
  max-width: 90%;
  max-height: 100%;
  margin: 2rem auto;

    @include isMobile{
        padding: 2rem ;
        max-width: 80%;
    }
}

.about-img{
    max-width: 90%;
    object-fit: cover;
    height: 70rem;
    
}

.about-conditions{
    margin: 4rem auto;
    gap: 2rem;
    padding: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
   
    @include isMobile {
        flex-direction: column;
        gap: 4rem;
      }
}


  .about-category{
    flex: 1 1 30%;
    flex-direction: column;
    text-align: center;
    // margin-bottom: 3rem;
    font-size:$font-m ;
    // max-width: 45rem;
    // border-radius: 0.2rem;
    // box-shadow: 0.03rem 0.04rem 0.2rem 0.2rem rgba(0,0,0,0.1);
    li{
        margin: 1rem auto;
    }
    img {
        width: 6.4rem;
        height: 6.4rem;
        align-items: center;
        margin: 0 auto;
    }
  }

  .payShip{
    margin: 6rem auto 5rem;
    h2{
        padding-bottom: 2rem;
    }
    
    p{
        font-size: $font-l;
        margin-bottom: 2rem;
    }
    li{
        font-size: $font-m;
        margin-bottom: 1.5rem;
    }
  }

  .classic-list{
    list-style-type: disc;
    padding-left: 4rem;
  }

  .kontakty-section{
    background: url('/images/img-kontakty.avif') no-repeat;
    background-position: 80% 30%;
    background-size: 20%;
    padding: 4rem 0;
    @include isMobile{
      display: flex;
      flex-direction: column;
      background-position: 50% 15%;
      background-size: 65%;
      
    }
  }

  .social-kontakty{
    display: flex;
    flex-direction: column;
    padding: 6rem 0 18rem;
    gap: 3rem;
    li{
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 3rem;
    }
    @include isMobile{
      padding: 5rem 0 5rem;
    }
  }

  .info-title{
   padding-top: 4rem;
   @include isMobile{
      padding-top: 30rem;
   }
  }

  .socialTitle-Link{
    font-size: $font-m;
    &:hover{
        text-decoration: underline;
    }
  }