@use "variables" as *;
@use "base" as *;

.about-section{
    font-size: $font-l;
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p{
        font-size: $font-m;
    }
}

.about-container{
    text-align: center;
    margin: 7rem auto;
}

.aboutPage-text{
    font-size: $font-m;
      align-items: center;
      text-align: center;
      margin: 7rem auto;
}

.image-box{
    border: 0.2rem solid #b2adad;
    border-radius: 1rem;
    box-shadow: 0 0.8rem 2.4rem rgba(0,0,0,0.3);
    padding: 7rem 0;
    max-width: 80%;
    margin: 2rem auto;
    @include isMobile{
        padding: 2rem ;
        max-width: 80%;
    }
}

.about-img{
    max-width: 100%;
    margin: 0 auto;
    display: block;
    border-radius: 1rem;
    height: auto;
    box-shadow: 0 0.8rem 2.4rem rgba(0,0,0,0.5);
}

.about-conditions{
    margin: 4rem auto;
    gap: 2rem;
    padding: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
   
    @include isMobile {
        flex-direction: column;
        gap: 4rem;
      }
}


  .about-category{
    flex: 1 1 30%;
    flex-direction: column;
    text-align: center;
    // margin-bottom: 3rem;
    font-size:$font-m ;
    // max-width: 45rem;
    // border-radius: 0.2rem;
    // box-shadow: 0.03rem 0.04rem 0.2rem 0.2rem rgba(0,0,0,0.1);
    li{
        margin: 1rem auto;
    }
    img {
        width: 6.4rem;
        height: 6.4rem;
        align-items: center;
        margin: 0 auto;
    }
  }

  .payShip{
    margin: 6rem auto 5rem;
    h2{
        padding-bottom: 2rem;
    }
    
    p{
        font-size: $font-l;
        margin-bottom: 2rem;
    }
    li{
        font-size: $font-m;
        margin-bottom: 1.5rem;
    }
  }

  .classic-list{
    list-style-type: disc;
    padding-left: 4rem;
  }