@use "variables" as *;
@use "base" as *;


.section-2{
    box-sizing: border-box;
    overflow: hidden;
}

.category-section{
    max-width: 100rem;
    margin-bottom: 4rem;
    h3{
        margin: 2rem auto;
    }
}

.container-card-category{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 0 .3rem;
}


.slider-wrapper{
    position: relative;
    overflow: visible ;
    box-sizing: content-box;
}
.swiper{
    padding: 2rem !important;
    
}

.custom-prev,
.custom-next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    font-size: 2rem;
    background: none;
    cursor: pointer;
    color:#2c2c38;
    img {
        height: 4rem;
        width: 4rem;
    }
}

.custom-prev{
    left: -3rem;
}

.custom-next{
    right: -1rem;
}


// .swiper-button-next{
//     position: relative;
//         color: #03031b;
//         right: 1rem !important;
//         z-index: 200;
    
// }
// .swiper-button-prev{
//     color: #03031b;
//     left: -3rem;
// }

.p-price{
    text-decoration: none;
    &:hover{
    text-decoration: none;
    }
}


.btn-category{
    text-align: center;
    display: block;
    margin: 3rem auto;
    position: relative;
    z-index: 2;
}

.btn-buy{
    margin: 1rem auto;
    padding: 0.5rem 1.5rem;
}
    