@use "variables" as *;
@use "base" as *;

.catalog-layout {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.section-category{
    align-items: flex-start;
    
}

.category-section{
    width: 100%;
    margin-bottom: 4rem;
    
    h3{
        margin: 2rem auto;
    }
    @include isMobile{
        max-width: 42rem;
        display: flex;
       flex-direction: column;
    }
}

.sort-option{
    display: flex;
    margin-bottom: 2rem;
    
    label{
        font-size: 2.3rem;
        font-weight: 600;
        margin-right: 1rem;
        
    }
    select{
        border: none;
        box-shadow: 0.03rem 0.04rem 0.2rem 0.2rem rgba(0,0,0,0.1);
    }
}

.catalog-card{
    width: 100%;
    display: flex;
    // flex-direction: row;
}

.container-card-category{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 0 .3rem;
    justify-content: start;
    // flex-direction: row;
}


.slider-wrapper{
    position: relative;
    align-items: center;
    // display: flex;
    // flex-direction: row;
    overflow: visible ;
}
.swiper{
    padding: 2rem !important;
    
}

.custom-prev,
.custom-next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    font-size: 2rem;
    background: none;
    cursor: pointer;
    color:#2c2c38;
    img {
        height: 4rem;
        width: 4rem;
    }
}

.custom-prev{
    left: 1rem;
}

.custom-next{
    right: 1rem;
}


// .swiper-button-next{
//     position: relative;
//         color: #03031b;
//         right: 1rem !important;
//         z-index: 200;
    
// }
// .swiper-button-prev{
//     color: #03031b;
//     left: -3rem;
// }

.p-price{
    text-decoration: none;
    font-size: $font-m;
    &:hover{
    text-decoration: none;
    }
}


.btn-category{
    text-align: center;
    display: block;
    margin: 3rem auto;
    position: relative;
    z-index: 2;
}

.btn-buy{
    margin: 2rem auto;
    padding: 0.5rem 1.5rem;
}
    