
@use "variables" as *;
@use "base" as *;


.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    padding: 4rem;
    border-radius: 12px;
    width: 70rem;
    position: relative;
  }
  
  .modal-close {
    position: absolute;
    top: 8px;
    right: 12px;
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
  }

  .comment-input{
    min-height:10rem;
    
      padding-top: 1rem;
    
  }

  .modal-shoppingCart {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    display: flex;
    justify-content:end;
    z-index: 1000;
  }
  
  .modal {
    background: white;
  position: fixed;
  top: 10%;
  right: -5%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 60rem;
  max-height: 80rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  }

  .cart-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 1rem;
    border-bottom: 0.2rem solid #ccc;
  }
  .btn-closeCart{
    border: none;
    font-size: 3rem;
    background-color: transparent;
  }

  .modal-Cart{
    flex: 1;
  overflow-y: auto;
  padding: 1rem;
    
  }

  
  .btn-orders {
      padding: 1rem;
      border-top: 1px solid #ccc;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      background-color: #fff;
      .btn-1{
        width: 100%;
      }
    }
  

  .modal-Cart .cart-name-image{
    width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 1rem;
  }

  .modal-Cart .cart-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0.8rem 0;
    border-bottom: 1px solid #eee;
    h3{
      font-size: 3rem;
    }
  }
    .modal-Cart .cart-item-info{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     gap: 6rem;
     .btn-plus-min{
      width: 2rem;
      height: 2rem;
      border: none;
      font-size: 1.8rem;
      align-items: center;
      background-color: transparent;
    }
    .quantity-controls{
      gap: 0.1rem;
    }
    .btn-deleteCart{
      font-size: 1.8rem;
    }
    }

    

    
    
  

  