
.item-page{
  width: 90%;
  text-align: center;
  align-items: center;
  h2{
    padding: 2rem;
  }
}

.image-gallery {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
  }
  
  .image-gallery img {
    width: 50rem;
  height: 60rem;
  cursor: pointer;
  border-radius: .8rem;
  transition: transform 0.3s ease;
  }

  .lightbox-thumb {
    width: 200px;
    height: auto;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.3s ease;
  }

  .lightbox-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(152, 149, 149, 0.5);
    backdrop-filter: blur(2);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .lightbox-full {
    max-width: 90%;
    max-height: 90%;
    transform: scale(1.5);
    transition: transform 0.3s ease;
    border-radius: 8px;
    cursor: zoom-in;
  }

  .item-details{
    margin: 2rem;
  }