@use "base" as *;
.item-page{
  width: 100%;
  
  text-align: center;
  align-items: center;
  h2{
    padding: 2rem;
  }
}

.image-gallery {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    @include isMobile{
      display: flex;
      align-items: center;
    }
  }
  
  .image-gallery img {
    width: 50rem;
  height: 60rem;
  cursor: pointer;
  border-radius: .8rem;
  transition: transform 0.3s ease;
  object-fit: contain;
  }

  .cardSwiper-main {
    width: 100%;
    max-width: 60rem;
    height: 42rem;
    margin-bottom: 2rem;
  }
  
  .cardSwiper-main img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
  }
  
  .cardSwiper-thumbs {
    // width: 100%;
    max-width: 80rem;
    height: 10rem;
    display: flex;
    gap: 1rem;
  }

  .swiper-slide{
    width: 20rem;
  }
  
  .cardSwiper-thumbs .swiper-slide {
    height: 100%;
    opacity: 0.6;
    transition: opacity 0.3s ease;
    cursor: pointer;
  }
  
  .cardSwiper-thumbs .swiper-slide-thumb-active {
    opacity: 1;
  }
  
  .cardSwiper-thumbs img {
    width: 100%;
    height: 100%;
    object-fit: contain ;
    border-radius: 0.4rem;
  }

  // .lightbox-thumb {
  //   width: 200px;
  //   height: auto;
  //   cursor: pointer;
  //   border-radius: 8px;
  //   transition: transform 0.3s ease;
  // }

  // .lightbox-overlay {
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background: rgba(152, 149, 149, 0.5);
  //   backdrop-filter: blur(2);
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   z-index: 1000;
  // }
  
  // .lightbox-full {
  //   max-width: 90%;
  //   max-height: 90%;
  //   transform: scale(1.5);
  //   transition: transform 0.3s ease;
  //   border-radius: 8px;
  //   cursor: zoom-in;
  // }

  // .item-details{
  //   margin: 2rem;
  //   .btn-buy{
  //     width: 20rem;
  //     margin-top: 2rem;
  //     padding: 1.3rem 0;
  //   }
  // }

  // body {
  //   background: #eee;
  //   font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  //   font-size: 14px;
  //   color: #000;
  //   margin: 0;
  //   padding: 0;
  // }
  
  // .swiper {
  //   width: 100%;
  //   height: 30rem;
  // }
  
  // .swiper-slide {
  //   text-align: center;
  //   font-size: 18px;
  //   background: #fff;
  
  //   /* Center slide text vertically */
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  // }
  
  // .swiper-slide img {
  //   display: block;
  //   width: 50%;
  //   height: 50%;
  //   object-fit: cover;
  // }
  
  // body {
  //   background: #000;
  //   color: #000;
  // }
  
  // .swiper {
  //   width: 100%;
  //   height: 100%;
  //   margin-left: auto;
  //   margin-right: auto;
  // }
  
  // .swiper-slide {
  //   background-size: cover;
  //   background-position: center;
  // }
  
  // .mySwiper2 {
  //   height: 50%;
  //   width: 100%;
  // }
  
  // .mySwiper {
  //   height: 20%;
  //   box-sizing: border-box;
  //   padding: 10px 0;
  // }
  
  // .mySwiper .swiper-slide {
  //   width: 50rem;
  //   height: 20%;
  //   opacity: 0.4;
  // }

  // .mySwiper .swiper-slide-thumb-active {
  //   opacity: 1;
  // }
  
  // .swiper-slide img {
  //   display: block;
  //   width: 80%;
  //   height: 25rem;
  //   object-fit: cover;
  // }