@use "variables" as *;

.sidebar{
    display: flex;
    flex-direction: column;
    margin-right: 8rem;
    border-radius: 0.2rem solid #ddd;
    box-shadow: 0.03rem 0.04rem 0.2rem 0.2rem rgba(0,0,0,0.1);
    background-color: #fff;
    // width: 45rem;
    height: 100%; 
    box-sizing: border-box;
    position: sticky;
}

.menu-sidebar{
    background-color: $bg-color-2;
    color: #fff;
    font-size: $font-m;
    font-weight: bold;
    width: 30rem;
    text-transform: uppercase;
    padding: 1rem 2rem;
}

.nav-sideBar{
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
    }
    li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 2rem;
        color: $secondary-text;
        border-bottom: 0.1rem solid #ddd;
        transition: background 0.3s, color 0.3s;
        font-size: $font-m;
        font-weight: bold;    

        &:hover{
            background-color: #ddd;
            color: #000;
            // text-decoration: underline;
        }
        .arrow-icon{
            color: #000;
            
            
            &:hover{
                text-decoration:none;
                cursor: pointer;
            }
        }
    }
}
