@use "../../node_modules/@crossfox/css-start/dist/base.min.css";


@use "variables" as *;
@use "base" as *;
@use "header";
@use "katalog";
@use "sideBar";
@use "infoPages";
@use "pageItem";
@use "modal";
@use "cart";


/* hero section  */
.hero-section {
    background: url('/images/hero1.avif') no-repeat;
    background-position: 80% 50%;
    background-size: 42%;
    padding-bottom: 2rem;

    .btn {
        width: 30rem;
    }
    @include isMobile{
      display: flex;
      flex-direction: column;
      background-position: 50% -2%;
      background-size: 45%;
      padding-bottom: 0;
    }
}
.name-title{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    width: 50rem;
    margin-left: 7rem;
    .h2-hero{
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 2rem auto 0;
      text-align: center;
      font-size: 6rem;
     }
    h3 {
        padding: 3rem 0;
    }
    @include isMobile{
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0 auto;
      padding-top: 13rem;
    
     
     h3 {
      padding-top: 2rem;
  }
    }
}

.breadcrumb-section{
  display: flex;
  flex-direction: row;
  font-size: 2rem;
  padding-bottom: 2rem;
  color: #766f6f;
  &:hover{
    color: #000;
  }
}

.breadcrumb-open{
  color: #000;
}

.breadcrumb-arrow{
  margin: 0 .8rem;
  font-size: 2rem;
  color: #ccc;
}

.social-media{
    display: flex;
    align-items: end;
    flex-direction: column;
    gap: 2.5rem;
    
    img {
        width: 2.4rem;
        height: 2.4rem;
        
        transition: transform 0.5s ease;
        &:hover{
      transform: scale(1.5);
    }
    }
    @include isMobile{
      display: none;
    }
}

.btn-consult{
  padding: 1.8rem;
}

.new-items{
  @include isMobile{
    padding: 1rem auto;
  }
}

.h2-newItems{
  margin-bottom: 4rem;
  @include isMobile{
    font-size: $font-l;
    text-align: center;
  }
}

 .container-card{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    margin: 0 .2rem;
 }

 .card {
    background-color: white;
    padding: 1rem;
    border-radius: 0.2rem;
    box-shadow: 0.03rem 0.04rem 0.2rem 0.2rem rgba(0,0,0,0.1);
    width: 30rem;
    text-align: center;
    align-items: center;
    overflow: hidden;
    @include isMobile{
      width: 100%;
      // height: 100%;
    }
  }

  .new-item-img-container {
    width: 90%;
    height: 30rem;
    position: relative;
    margin: 1rem auto;
    object-fit: cover;
  }
  
  .card-title {
    font-size: 2.5rem;
    margin-top: 5rem;
    transition: transform 0.3s ease-out;
    &:hover {
      transform: (1.05);
      text-decoration: underline;
      cursor: pointer;
  }
  }
  
  .btn-newItem{
    margin: 0 auto;
    margin-top: 7rem;
    width: fit-content;
  }

  .aboutUs-main{
    padding: 0;
    font-size: $font-xl;
  }

  .aboutUs{
    // margin: 0 auto;
    display: flex;
    justify-content:flex-start;
    align-items:center;
    // gap: 20rem;
    @include isMobile{
      display: flex;
      flex-direction: column;
    }
  }

  .about-video-section{
    display: flex;  
    align-items:flex-start;
    position: relative;
    z-index: -1;
    
    height:80rem;
    width: 70rem;
  }

  .about-video{
    position: absolute;
    
    // width: 100%;
    height:80%;
    // display: block;
  }

    .aboutUs-text{
      font-size: $font-m;
      align-items: center;
      text-align: center;
      width: 80%;
      .btn-1{
        margin: 5rem auto;
        max-width: 40rem;
      }
    }

    .footer-main{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      font-size: $font-s;
      border-top: 0.2rem solid #ccc;
      @include isMobile {
        flex-direction: column;
        gap: 4rem;
      }
    }

    .ul-footer{
      margin-top: 1rem;
    }

    .social-media-footer{
      display: flex;
    align-items: start;
    flex-direction: row;
    gap: 3rem;
    padding: 3rem 0 0;
    img {
        width: 2.4rem;
        height: 2.4rem;
    }

    }

    .p-bold{
      font-weight: 700;
    }

    .form-footer{
      input{
        border: 0.2rem solid #ccc;
        width: 28rem;
        margin-right: 1rem;
      }
      button{
        width: 9.5rem;
        background-color: $accent-color;
        &:hover {
          background-color: $title-text;
    color: #0a0908;;
        }
      }
      
    }

    .form-agreement{
      max-width: 40rem;
      margin-top: 1rem;
      input[type='checkbox']{
        width: 1.6rem;
        height: 1.6rem;
        accent-color: #000;
        margin: 0 0.5rem;
        cursor: pointer;
      }
    }
    .checkbox-wrapper{
      margin-top: 2rem;
    }

    .footer-politice{
      text-decoration: underline;
    }

    .footer-2{
      padding: 0.8rem 0;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      font-size: $font-s;
      border-top: 0.2rem solid #ccc;
      
    }

    .modal-form{
      margin-top: 1.5rem;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      input{
        padding: 0.7rem;
        border: 0.1rem solid #ccc;
        border-radius: 0.2rem;
      }
    }

    .modal-close{
      font-size: 4rem;
      
    }
  

// @mixin gradient-bg($start, $end){
//     background: linear-gradient(to bottom, $start, $end);
// }

// .gradient {
//     width: 30rem;
//     height: 50rem;
//     @include gradient-bg(#f57, #777)
// }

// .test-btn {
//     @include gradient-bg(blue, green )
// }